# Node Modules
App/Pawfect-API/Client/node_modules/
App/Pawfect-API/Client/.vscode/
App/Pawfect-API/Client/.angular/

# Angular Build Output
App/Pawfect-API/Client/dist/
App/Pawfect-API/Client/out-tsc/

# Environment and Configuration Files
App/Pawfect-API/Client/.env
App/Pawfect-API/Client/src/environments
App/Pawfect-API/Client/prompt.MD

App/Pawfect-API/Client/package-lock.json

# Logs and Reports
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IDE-specific (VS Code, Visual Studio, JetBrains)
.vs/
.vscode/
App/Pawfect-API/Client/.vscode/
App/Pawfect-API/.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.csproj.user
*.user

# Bootstrap and Tailwind Build Files
App/Pawfect-API/Client/bootstrap/
App/Pawfect-API/Client/tailwind/

# C# Build Outputs
App/Pawfect-API/bin/
App/Pawfect-API/obj/
App/Pawfect-API/*.dll
App/Pawfect-API/*.exe
App/Pawfect-API/*.pdb
App/Pawfect-API/*.cache
App/Pawfect-API/*.pyo
App/Pawfect-API/*.pyc
App/Pawfect-API/*.pid
App/Pawfect-API/*.manifest
App/Pawfect-API/*.nupkg
App/Pawfect-API/*.local
App/Pawfect-API/*.config
App/Pawfect-API/wwwroot/
App/Pawfect-API/Configuration/Development/environment.Development.json
App/Pawfect-API/Configuration/Production/environment.json
App/Pawfect-API/logs/
App/Pawfect-API/PawfectUser_accessKeys.csv

App/Pawfect-Notifications/bin/
App/Pawfect-Notifications/obj/
App/Pawfect-Notifications/*.dll
App/Pawfect-Notifications/*.exe
App/Pawfect-Notifications/*.pdb
App/Pawfect-Notifications/*.cache
App/Pawfect-Notifications/*.pyo
App/Pawfect-Notifications/*.pyc
App/Pawfect-Notifications/*.pid
App/Pawfect-Notifications/*.manifest
App/Pawfect-Notifications/*.nupkg
App/Pawfect-Notifications/*.local
App/Pawfect-Notifications/*.config
App/Pawfect-Notifications/Configuration/Development/environment.Development.json
App/Pawfect-Notifications/Configuration/Production/environment.json
App/Pawfect-Notifications/logs/

    
# Windows & OS Specific Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# MongoDB Dump Files (if applicable)
dump/
*.bson

# Sensitive Files
*.pem
*.key
*.crt

# Temporary and Miscellaneous Files
*.temp
*.tmp
App/Pawfect-API/Client/*.txt
App/Pawfect-API/*.txt
App/Pawfect-Notifications/*.txt
~$*
