# Node Modules
node_modules/

# Angular Build Output
dist/
out-tsc/

# Environment Files
src/environments/environment*.ts
.env

# Compiled TypeScript files
*.tsbuildinfo

# Logs and Reports
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IDE-specific (VS Code and Visual Studio)
.vs/
.vscode/
.vscode/*
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.csproj.user
*.user

# Bootstrap and Tailwind Build Files
bootstrap/
tailwind/

# C# Build Outputs
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.pyo
*.pyc
*.pid
*.manifest
*.nupkg
*.local
*.config
*.pyo
*.pyc

# Entity Framework Migrations
Migrations/

# .NET User Secrets
**/appsettings.*.json

# Windows & OS Specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# MongoDB (optional - if using MongoDB dump files)
dump/
*.bson

# Sensitive Files
*.pem
*.key
*.crt

# Temp files and text files (optional)
*.temp
*.tmp
*.txt
~$*

